table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: rgb(249, 219, 219);
}

tr:nth-child(odd) {
    background-color: rgb(207, 232, 248);
}

.marked-td {
    background-color: rgb(207, 239, 176);
}

td, input ,li {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
    width: 300px;
    border-radius: 6px;
}

li {
    width: fit-content;
    padding: 4px;
}

td {
    padding: 1px;
    padding-left: 5x;
}

.active {
    background-color: rgb(246, 106, 106);
}

input {
    background-color: rgb(254, 254, 188);
    min-height: 99%;
}

.chosen {
    background-color: rgb(200, 189, 191);
    color: white;
    font-weight: 500;
    font-family: 'Comic sans';
}

.container {
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    margin-left: 20px;
}

.sidemenu {
    width: fit-content;
    background-color: rgb(237, 244, 242);
}

.bottom {
    height: 75%;
}

.side {
    width: 75%;
    padding: 5%;
    height: 25%;
}

.json-text {
    width: 97%;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.bdiv {
    margin: 20px;
}

h2 {
    margin: 20px;
}