button {
    height: 25px;
}

table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: fit-content;
}
select {
    margin-left: 20px;
    margin-bottom: 10px;
    min-height: 25px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: rgb(247, 227, 227);
}

tr:nth-child(odd) {
    background-color: rgb(224, 237, 246);
}

.marked-td {
    background-color: rgb(229, 244, 216);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(63, 139, 114);
}

td, input ,li {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode';
    width: fit-content;
    border-radius: 6px;
}
.slim_input {
    width: 70px;
}
.num_input {
    width: 70px;
    text-align: right;
}
.num_td {
    width: 10%;
    max-width: 10%;
}

li {
    width:fit-content;
    padding: 4px;
}

td {
    padding: 1px;
    padding-left: 5x;
}

.active {
    background-color: rgb(246, 106, 106);
}

input {
    background-color: rgb(251, 251, 212);
    min-height: 99%;
}
.comp_input {
    height: 22px;
    width: 200px
}

.org_input {
    height: 22px;
    width: 90px
}

.chosen {
    border-color: rgb(145, 23, 46)!;
    border-width: 2px;
    border-style: solid;
    font-weight: 500;
    font-family: 'Comic sans';
}

.container {
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    margin-left: 20px;
}

.sidemenu {
    width: fit-content;
    background-color: rgb(241, 245, 244);
}

.bottom {
    height: 75%;
}

.side {
    width: 75%;
    padding: 5%;
    height: 25%;
}

.json-text {
    width: 97%;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.bdiv {
    margin: 20px;
}

h2 {
    margin: 20px;
}